body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: "work sans", "helvetica", "arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.images {
  background-color: #1e1e1e;
}
.images .item {
  position: relative;
  height: 100vh;
}
.images .item.ab-dark {
  color: #fff;
}
.images .item.ab-light {
  color: #1e1e1e;
}
.images .item.with-credit .img {
  bottom: 88px;
}
.images .item .img {
  position: absolute;
  z-index: 50;
  left: 64px;
  top: 24px;
  right: 64px;
  bottom: 64px;
  background-color: transparent!important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.images .item .img img {
  display: block;
  position: absolute;
  z-index: 50;
  left: 50%;
  top: 50%;
  max-height: 100%;
  max-width: 100%;
  transform: translateX(-50%) translateY(-50%);
}
.images .item .data {
  position: absolute;
  z-index: 60;
  left: 0px;
  bottom: -32px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
.images .item .blurred {
  position: absolute;
  z-index: 10;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.flex-control-paging {
  position: absolute;
  z-index: 100;
  width: 100%;
  bottom: 24px;
  left: 0px;
  text-align: center;
  font-size: 0;
  line-height: 0;
  padding: 0;
}
.flex-control-paging li {
  list-style: none;
  list-style-image: none;
  display: inline-block;
  margin: 0 4px;
  padding: 0;
  text-indent: -2000px;
  overflow: hidden;
}
.flex-control-paging li a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.flex-control-paging li a.flex-active {
  background-color: #ffffff;
}
.flex-direction-nav {
  padding: 0;
  margin: 0;
}
.flex-direction-nav li {
  position: absolute;
  z-index: 100;
  list-style: none;
  list-style-image: none;
  top: 0px;
  height: 100%;
  padding: 0;
  margin: 0;
}
.flex-direction-nav li a {
  display: block;
  width: 128px;
  height: 100%;
  overflow: hidden;
  text-indent: -2000px;
}
.flex-direction-nav .flex-nav-prev {
  left: 0px;
}
.flex-direction-nav .flex-nav-prev a {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}
.flex-direction-nav .flex-nav-next {
  right: 0px;
}
.flex-direction-nav .flex-nav-next a {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}
