{% extends 'partials/base.html.twig' %}

{% block content %}

  <div class="images">
    {% for i,image in page.media.images|ksort %}

      {% set credit = image.meta.credit ? image.media.credit : page.header.credit %}

      <div class="item{% if credit %} width-credit{% endif %}">

        <div class="img">
          {{ image.fixOrientation.cropResize(1280,1280).html("","","adaptive-background") }}

          {% if credit %}
            <div class="data">
              {{ credit }}
            </div>
          {% endif %}
        </div>

        {% if page.header.img_scale == "retro" %}
          <div class="blurred" style="background-image: url({{ image.fixOrientation.cropResize(64, 64).cropZoom(1200, 1200).url() }});"></div>
        {% else %}
          <div class="blurred" style="background-image: url({{ image.fixOrientation.cropResize(64, 64).smooth(10).smooth(10).smooth(10).url() }});"></div>
        {% endif %}

      </div>
    {% endfor %}
  </div>
{% endblock %}
